@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

$font-black: #111111
$font-gray:  #444444
$gray:       #f2f2f2
$green:      #68b738
$gap:          40px
$font-title:   'Oswald', sans-serif
$font-text:    'Arial', sans-serif

\:root 
  box-sizing: border-box
  height: 100%

::selection
  background: $green
  color: #fff

*,
::after,
::before 
  box-sizing: inherit

a 
  color: $font-black

  text-decoration: none

ul
  margin: 0
  padding: 0

li 
  list-style: none

body
  background: #fff

  color: $font-gray
  font-size: 16px

  height: 100vh
  margin: 0

  overflow-x: hidden

/*Preloader*/
.preloader 
  background: #fff

  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%

  z-index: 100
  transition: 1s all
  opacity: 1
  visibility: visible

.done
  opacity: 0
  visibility: hidden

.preloader__content
  align-items: center
  justify-content: center
  flex-direction: column

  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)

.loader-container
  width: 150px
  height: 150px

  justify-content: center
  align-items: center

.loader
  border: 10px solid rgba(104, 183, 56, 0.5)

  width: 75px
  height: 75px

  position: absolute

.loader-right
  animation: 3s spin-right infinite linear

.loader-left
  animation: 2s spin-left infinite linear

@keyframes spin-right
  from 
    transform: rotate(0deg)

  to 
    transform: rotate(360deg)

@keyframes spin-left
  from 
    transform: rotate(360deg)

  to 
    transform: rotate(0deg)

.preloader__text
  opacity: 0.7

  margin-left: 10px

.title
  color: $font-black
  font-family: $font-title
  font-size: 60px
  font-weight: normal
  line-height: 60px

  margin: 0

.title--green-line
  position: relative
  
  display: inline-flex
  align-items: center

  &::before
    content: ''

    background: $green

    width: 120px
    height: 3px

    display: block

    position: absolute
    left: -160px

  &::after
    content: ''

    background: $green

    width: 1150px
    height: 3px

    display: block

    position: absolute
    left: calc(100% + 40px)
.subtitle
  color: $font-black
  font-family: $font-title
  font-size: 36px
  font-weight: normal
  line-height: 36px

  margin: 0

.text
  color: $font-gray
  font-family: $font-text
  font-size: 16px
  font-weight: normal
  line-height: 24px

.text-bold
  color: $font-black
  font-family: $font-title
  font-size: 20px
  font-weight: normal
  line-height: 28px
  text-transform: uppercase

  display: inline-block

.text-bold--white
  color: #fff

.text-bold--white-active::after
  content: ""

  background: #fff

  height: 2px
  width: 100%
  margin-top: 10px

  display: block

  position: relative

.text-bold--active::after
  content: ""

  background: $green

  height: 2px
  width: 100%
  margin-top: 10px

  display: block

  position: relative

.flex
  display: flex

.container
  max-width: 1300px
  min-width: 280px
  margin: 0 auto
  padding: 0px $gap

.header__container
  padding-top: 50px
  margin-bottom: 80px

.header__nav
  justify-content: space-between
  align-items: center

.header__text-bold:hover
  opacity: 0.7

  transition: .2s ease-in

.header__text-bold:active, .header__text-bold:focus
  opacity: 0.5

  transition: .2s ease-in

.header__menu
  margin-top: 7px

  display: none

.logo
  max-width: 170px

  align-items: center

.logo__name
  color: $font-black
  font-family: $font-title
  font-size: 20px
  font-weight: 400
  line-height: 20px
  text-transform: uppercase

  margin: 0
  margin-top: 7px

  span
    font-weight: 500

.logo:hover
  opacity: 0.7

  transition: .2s ease-in

.logo:active, .logo:focus
  opacity: 0.5

  transition: .2s ease-in

.header__list
  width: 480px
  margin-top: 20px

  justify-content: space-between

.button
  background: $green
  border: none

  color: #fff

  font-family: $font-title
  font-size: 16px
  line-height: 20px
  text-transform: uppercase

  height: 40px
  padding: 0 6%

  justify-content: center
  align-items: center

  cursor: pointer

.button:hover
  background: #5Eaa2f

  transition: .2s ease-in

.button:active, .button:focus
  color: rgba(255, 255, 255, 0.5)

  transition: .2s ease-in

.main__map
  background: $gray

.main__map-container
  position: relative

.map__address
  background: #fff

  border: 2px solid $gray

  padding: 60px 70px

  position: absolute
  top: 108px
  left: 120px

  z-index: 2

.address__text-bold
  margin: 0

.map__address-right
  margin-left: 80px

  flex-direction: column
  justify-content: space-between

.address__text
  margin: 0

.footer
  background: $gray

.footer__container
  padding: 62px 40px

  justify-content: space-between
  align-items: center

.footer__social .footer__social-item:not(:last-child)
  margin-right: 28px

.footer__social-item:hover
  opacity: 0.7

  transition: .2s ease-in

.footer__social-item:active, .footer__social-item:focus
  opacity: 0.5

  transition: .2s ease-in

.footer__author
  align-items: center

.footer__author-text
  margin-right: 22px