.programs-input
  border: 1px solid #E6E6E6

  color: #444444
  font-family: $font-title
  font-size: 20px
  font-weight: normal
  text-transform: uppercase

  height: 125%
  padding-left: 12px
  padding-right: 12px

.programs-input::placeholder
  color: #444444
  font-family: $font-title
  font-size: 20px
  font-weight: normal
  text-transform: uppercase

.programs__profile
  margin-bottom: 72px
  
.profile__title
  margin-bottom: 54px

.profile__text-bold
  margin-bottom: 80px

.profile__form
  width: 100%

.profile__form-left
  width: 50%
  margin-right: 80px

  flex-direction: column

.profile__form-label
  width: 100%

.profile__form-label:not(:last-child)
  margin-bottom: 20px

.profile__form-input
  width: 50%
  margin-left: 20px

.profile__form-right
  flex-direction: column

.profile__label-radio:not(:last-child)
  margin-bottom: 34px

.profile__radio
  opacity: 0

  margin: 10px 0 0 20px

  position: absolute
  z-index: -1

.profile__label-radio
  user-select: none

.profile__radio + .profile__label-radio
  padding: 0 0 0 40px

  position: relative
  cursor: pointer


.profile__radio + .profile__label-radio:before 
  content: ''
  background: url(../svg/logo.svg) no-repeat
  opacity: 0.6

  width: 23px
  height: 23px

  position: absolute
  top: -4px
  left: 0
  
  transition: 0.2s

.profile__radio:checked + .profile__label-radio:before 
  background: url(../svg/checkbox-on.svg) no-repeat
  width: 27px

.profile__radio:focus + .profile__label-radio:before 
	opacity: 1

.programs__contacts
  margin-bottom: 80px

.contacts__title
  margin-bottom: 72px

.contacts__form
  justify-content: space-between

.contacts__form-label
  width: 50%

.contacts__form-input
  width: 65%
  margin-left: 20px

.programs__сomments
  margin-bottom: 80px

.сomments__title
  margin-bottom: 72px

.сomments__form-textarea
  border: 1px solid #E6E6E6

  color: #444444
  font-family: $font-title
  font-size: 20px
  font-weight: normal
  line-height: 28px
  text-transform: uppercase

  width: 100%
  padding: 16px 20px

  resize: none

.сomments__form-textarea::placeholder
  color: #444444
  font-family: $font-title
  font-size: 20px
  font-weight: normal
  line-height: 28px
  text-transform: uppercase

.programs__extra
  margin-bottom: 80px

.extra__title
  margin-bottom: 72px

.extra__form
  margin-bottom: 70px
  
  justify-content: space-between

.extra__checkbox
  margin-right: 20px

.extra__button
  width: 46.6%