.programs-input
  border: 1px solid #E6E6E6

  color: #444444
  font-family: $font-title
  font-size: 20px
  font-weight: normal
  text-transform: uppercase

  height: 50px
  padding-left: 12px
  padding-right: 12px

  position: relative

.programs-input::placeholder
  color: #444444
  font-family: $font-title
  font-size: 20px
  font-weight: normal
  text-transform: uppercase

.programs-input:hover
  border: 1px solid #cdcdcd

.programs-input:active,
.programs-input:focus
  border: 1px solid #444444

.programs-input:invalid
  border: 1px solid #ff8282

  box-shadow: none

.programs-input:invalid + .contacts-label-phone,
.programs-input:invalid + .contacts-label-email
  fill: #ff8282

.programs__profile
  margin-bottom: 72px
  
.profile__title
  margin-bottom: 54px

.profile__text-bold
  margin-bottom: 80px

.profile__form
  width: 100%

.profile__form-left
  width: 50%
  margin-right: 80px

  flex-direction: column

.profile__form-label
  width: 100%

  align-items: center

.profile__form-label:not(:last-child)
  margin-bottom: 20px

.profile__form-input
  width: 70%
  margin-left: 20px

.profile__form-right
  border: 1px solid #E6E6E6

  width: 45%
  padding-left: 70px

  flex-direction: column
  justify-content: center

.profile__radio-container:not(:last-child)
  margin-bottom: 34px

.profile__radio
  opacity: 0

  margin: 10px 0 0 20px

  position: absolute
  z-index: -1

.profile__label-radio
  user-select: none

.profile__radio + .profile__label-radio
  padding: 0 0 0 40px

  position: relative
  cursor: pointer

.profile__radio + .profile__label-radio::before 
  content: ''
  border: 1px solid #CECECE
  border-radius: 30px

  width: 40px
  height: 40px

  position: absolute
  top: -4px
  left: -40px

.profile__radio:hover + .profile__label-radio::before
	border: 1px solid #BCBCBC

.profile__radio:focus + .profile__label-radio::before
	opacity: 0.5

.profile__radio:active + .profile__label-radio::before
	opacity: 0.5

.profile__radio:focus + .profile__label-radio::before,
.profile__radio:checked + .profile__label-radio::before
  content: ''
  background: url(../img/radio.png) center center no-repeat

.programs__contacts
  margin-bottom: 80px

.contacts__title
  margin-bottom: 72px

.contacts__form
  justify-content: space-between

.contacts__form-label
  width: 45%

  position: relative

  align-items: center

.contacts__form-input
  width: 100%
  margin-left: 20px

.contacts-label-email
  position: absolute

  right: 20px
  top: 19px

.contacts-label-phone
  position: absolute

  right: 18px
  top: 17px

.programs__сomments
  margin-bottom: 80px

.сomments__title
  margin-bottom: 72px

.сomments__form-textarea
  border: 1px solid #E6E6E6

  color: #444444
  font-family: $font-title
  font-size: 20px
  font-weight: normal
  line-height: 28px
  text-transform: uppercase

  width: 100%
  padding: 16px 20px

  resize: none

.сomments__form-textarea::placeholder
  color: #444444
  font-family: $font-title
  font-size: 20px
  font-weight: normal
  line-height: 28px
  text-transform: uppercase

.сomments__form-textarea:hover
  border: 1px solid #cdcdcd

.сomments__form-textarea:active,
.сomments__form-textarea:focus
  border: 1px solid #444444

.programs__extra
  margin-bottom: 80px

.extra__title
  margin-bottom: 72px

.extra__form
  margin-bottom: 70px
  
  justify-content: space-between
  flex-wrap: wrap

.extra__checkbox
  opacity: 0

  margin: 10px 0 0 20px

  position: absolute
  z-index: -1

.extra__checkbox-label
  user-select: none

.extra__checkbox + .extra__checkbox-label
  padding: 0 0 0 80px

  position: relative
  cursor: pointer

.extra__checkbox + .extra__checkbox-label::before 
  content: ''
  border: 1px solid #CECECE

  width: 40px
  height: 40px

  position: absolute
  top: -6px
  left: 0px

.extra__checkbox:checked + .extra__checkbox-label::before
  content: ''
  background: url(../img/tick.png) center center no-repeat

.extra__checkbox:hover + .extra__checkbox-label::before
	border: 1px solid #BCBCBC

.extra__checkbox:focus + .extra__checkbox-label::before
	opacity: 0.5

.extra__checkbox:active + .extra__checkbox-label::before
	opacity: 0.5

.extra__bottom
  align-items: center

.extra__button
  width: 49.5%

.extra__bottom-text
  margin-left: 12%