@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap");
:root {
  box-sizing: border-box;
  height: 100%; }

*,
::after,
::before {
  box-sizing: inherit; }

a {
  color: #111111;
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

body {
  background: #fff;
  color: #444444;
  font-size: 16px;
  height: 100vh;
  margin: 0;
  overflow-x: hidden; }

.title {
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  font-weight: normal;
  line-height: 60px;
  margin: 0; }

.subtitle {
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  margin: 0; }

.text {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px; }

.text-bold {
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
  text-transform: uppercase;
  display: inline-block; }

.text-bold--white {
  color: #fff; }

.text-bold--white-active::after {
  content: "";
  background: #fff;
  height: 2px;
  width: 100%;
  margin-top: 10px;
  display: block;
  position: relative; }

.text-bold--active::after {
  content: "";
  background: #68b738;
  height: 2px;
  width: 100%;
  margin-top: 10px;
  display: block;
  position: relative; }

.flex {
  display: flex; }

.container {
  max-width: 1300px;
  min-width: 280px;
  margin: 0 auto;
  padding: 0px 40px; }

.header__container {
  padding-top: 50px;
  margin-bottom: 80px; }

.header__nav {
  justify-content: space-between;
  align-items: center; }

.header__text-bold:hover {
  opacity: 0.7;
  transition: .2s ease-in; }

.header__text-bold:active, .header__text-bold:focus {
  opacity: 0.5;
  transition: .2s ease-in; }

.header__menu {
  margin-top: 7px;
  display: none; }

.logo {
  max-width: 170px;
  align-items: center; }

.logo__name {
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 7px; }
  .logo__name span {
    font-weight: 500; }

.logo:hover {
  opacity: 0.7;
  transition: .2s ease-in; }

.logo:active, .logo:focus {
  opacity: 0.5;
  transition: .2s ease-in; }

.header__list {
  width: 480px;
  margin-top: 20px;
  justify-content: space-between; }

.button {
  background: #68b738;
  border: none;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  height: 40px;
  padding: 0 6%;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.button:hover {
  background: #5Eaa2f;
  transition: .2s ease-in; }

.button:active, .button:focus {
  color: rgba(255, 255, 255, 0.5);
  transition: .2s ease-in; }

.main__map {
  background: #f2f2f2; }

.main__map-container {
  position: relative; }

.map__address {
  background: #fff;
  border: 2px solid #f2f2f2;
  padding: 60px 70px;
  position: absolute;
  top: 108px;
  left: 120px;
  z-index: 2; }

.address__text-bold {
  margin: 0; }

.map__address-right {
  margin-left: 80px;
  flex-direction: column;
  justify-content: space-between; }

.address__text {
  margin: 0; }

.footer {
  background: #f2f2f2; }

.footer__container {
  padding: 62px 40px;
  justify-content: space-between;
  align-items: center; }

.footer__social .footer__social-item:not(:last-child) {
  margin-right: 28px; }

.footer__social-item:hover {
  opacity: 0.7;
  transition: .2s ease-in; }

.footer__social-item:active, .footer__social-item:focus {
  opacity: 0.5;
  transition: .2s ease-in; }

.footer__author {
  align-items: center; }

.footer__author-text {
  margin-right: 22px; }

/*Header*/
.header__container {
  position: relative; }

.header--index {
  padding-bottom: 186px; }
  .header--index::after {
    content: "";
    background: url(../img/header-can.png) no-repeat;
    background-position-x: right;
    width: 552px;
    height: 560px;
    display: block;
    position: absolute;
    top: 146px;
    right: 220px;
    z-index: -1; }
  .header--index::before {
    content: "";
    background: url(../img/header-background.jpg) no-repeat;
    background-position-x: right;
    width: 720px;
    height: 696px;
    display: block;
    position: absolute;
    top: -50px;
    right: -100px;
    z-index: -1; }

.header__nav--index {
  margin-bottom: 110px; }

.header__content {
  padding-left: 60px; }

.header__content-title {
  margin-bottom: 46px; }

.header__content-text {
  margin-bottom: 56px; }

/*Main*/
.programs__container {
  justify-content: space-between;
  margin-bottom: 80px;
  flex-wrap: wrap; }

.programs__item {
  background: #f2f2f2;
  padding: 45px 45px;
  position: relative; }
  .programs__item::after {
    content: "";
    background: url(../img/cat-slim.png) no-repeat;
    height: 106px;
    width: 100px;
    display: block;
    position: absolute;
    top: 25px;
    left: 40px; }

.programs__slim {
  width: calc(51% - 40px); }

.programs__pro {
  width: calc(51% - 40px); }
  .programs__pro::after {
    background: url(../img/cat-pro.png) no-repeat;
    height: 106px;
    width: 134px;
    position: absolute;
    top: 30px;
    left: 20px; }

.programs__subtitle {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px;
  margin-left: 40px; }

.programs__text {
  margin-bottom: 40px; }

.programs__text-bold {
  transition-delay: .5s; }
  .programs__text-bold::after {
    content: "";
    background: url(../img/arrow.svg) no-repeat;
    background-size: cover;
    width: 24px;
    height: 11px;
    display: inline-block;
    position: relative;
    top: -2px;
    left: 22px; }

.programs__text-bold:hover::after {
  background: url(../img/arrow-big.svg) no-repeat;
  background-size: cover;
  width: 32px; }

.programs__text-bold:active, .programs__text-bold:focus {
  opacity: 0.5;
  transition: .2s ease-in; }

.advantages__container {
  flex-direction: column;
  margin-bottom: 86px; }

.advantages__title {
  margin-bottom: 70px; }

.advantages__content {
  flex-wrap: wrap;
  justify-content: space-between; }

.advantages__item {
  min-width: 225px;
  height: 230px;
  justify-content: start;
  align-items: center;
  position: relative; }
  .advantages__item::after {
    content: "";
    background-image: url(../img/advantage-1.png);
    background-size: contain;
    width: 80px;
    height: 80px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0; }
  .advantages__item::before {
    content: "";
    background: url(../img/advantages-number-1.png) no-repeat;
    background-size: contain;
    width: 105px;
    height: 220px;
    display: inline-block;
    position: absolute;
    right: 35px;
    z-index: -1; }

.advantages__item--2::after {
  background-image: url(../img/advantage-2.png);
  background-size: contain; }

.advantages__item--2::before {
  background-image: url(../img/advantages-number-2.png); }

.advantages__item--3::after {
  background-image: url(../img/advantage-3.png);
  background-size: contain; }

.advantages__item--3::before {
  background-image: url(../img/advantages-number-3.png); }

.advantages__item--4::after {
  background-image: url(../img/advantage-4.png);
  background-size: contain; }

.advantages__item--4::before {
  background-image: url(../img/advantages-number-4.png); }

.advantages__text {
  margin-top: 116px; }

.example__container {
  flex-direction: column; }

.title__example {
  margin-bottom: 78px; }

.example__wrapper {
  background: #f2f2f2; }

.examlple__content {
  padding: 76px 0px; }

.examlple__info {
  width: 38%; }

.example__text {
  margin-bottom: 56px; }

.examlple__values {
  margin-bottom: 56px;
  width: 380px;
  justify-content: space-between; }

.examlple__values-item {
  border: 1px solid #cecece;
  width: 166px; }

.examlple__values-title {
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0px; }

.examlple__values-text {
  background: #f2f2f2;
  margin: 0 auto;
  padding: 0px 4px;
  display: inline-block;
  position: relative;
  top: 10px; }

.examlple__values-item:nth-child(1) .examlple__values-text {
  margin-left: 21px; }

.examlple__values-item:nth-child(2) .examlple__values-text {
  margin-left: 5px; }

.example-text-bold__span {
  margin-left: 80px; }

.container__products {
  margin-bottom: 80px; }

.products__title {
  margin-bottom: 80px; }

.products__cards {
  justify-content: space-between;
  flex-wrap: wrap; }

.card {
  background: #f2f2f2;
  margin-top: 84px;
  padding: 165px 32px 40px 32px;
  flex-basis: 22%;
  flex-direction: column;
  justify-content: center;
  position: relative; }
  .card::after {
    content: "";
    background-image: url(../img/catalog-can-1.png);
    background-size: contain;
    width: 160px;
    height: 170px;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0; }

.card:nth-child(4n) {
  margin-right: 0; }

.card:nth-child(-n+4) {
  margin-bottom: 40px; }

.card--big::after {
  width: 192px;
  height: 200px;
  top: -77px; }

.card--2::after {
  background-image: url(../img/catalog-can-2.png); }

.card--3::after {
  background-image: url(../img/catalog-can-3.png); }

.card--4::after {
  background-image: url(../img/catalog-can-4.png); }

.card--5::after {
  background-image: url(../img/catalog-can-5.png); }

.card--6::after {
  background-image: url(../img/catalog-can-6.png); }

.card--7::after {
  background-image: url(../img/catalog-can-7.png); }

.card--8::after {
  background-image: url(../img/catalog-can-7.png); }

.card__title {
  text-align: center;
  width: 130px;
  margin: 0 auto;
  margin-bottom: 28px; }

.card__info {
  margin-bottom: 34px; }

.card__text {
  margin: 0px;
  justify-content: space-between;
  position: relative; }
  .card__text::after {
    content: "";
    background: #d7d7d7;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -10px; }

.card__text:not(:last-child) {
  margin-bottom: 20px; }

.main__additionally {
  margin-bottom: 86px; }

.additionally__title {
  margin-bottom: 76px; }

.additionally__content {
  justify-content: space-between; }

.additionally__content-left {
  flex-basis: 74%; }

.additionally__content-right {
  background: url(../img/additionally-cat.png) no-repeat;
  background-size: contain;
  background-position: right;
  flex-basis: 20%; }

.additionally__product {
  border-bottom: 1px solid #cdcdcd;
  justify-content: space-between;
  align-items: center; }

.additionally__product:nth-child(1) {
  border-top: 1px solid #cdcdcd; }

.additionally__info {
  width: 70%;
  justify-content: space-between; }

.additionally__values {
  width: 50%;
  justify-content: space-between;
  align-items: center; }

.programs-input {
  border: 1px solid #E6E6E6;
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  height: 125%;
  padding-left: 12px;
  padding-right: 12px; }

.programs-input::placeholder {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase; }

.programs__profile {
  margin-bottom: 72px; }

.profile__title {
  margin-bottom: 54px; }

.profile__text-bold {
  margin-bottom: 80px; }

.profile__form {
  width: 100%; }

.profile__form-left {
  width: 50%;
  margin-right: 80px;
  flex-direction: column; }

.profile__form-label {
  width: 100%; }

.profile__form-label:not(:last-child) {
  margin-bottom: 20px; }

.profile__form-input {
  width: 50%;
  margin-left: 20px; }

.profile__form-right {
  flex-direction: column; }

.profile__label-radio:not(:last-child) {
  margin-bottom: 34px; }

.profile__radio {
  opacity: 0;
  margin: 10px 0 0 20px;
  position: absolute;
  z-index: -1; }

.profile__label-radio {
  user-select: none; }

.profile__radio + .profile__label-radio {
  padding: 0 0 0 40px;
  position: relative;
  cursor: pointer; }

.profile__radio + .profile__label-radio:before {
  content: '';
  background: url(../svg/logo.svg) no-repeat;
  opacity: 0.6;
  width: 23px;
  height: 23px;
  position: absolute;
  top: -4px;
  left: 0;
  transition: 0.2s; }

.profile__radio:checked + .profile__label-radio:before {
  background: url(../svg/checkbox-on.svg) no-repeat;
  width: 27px; }

.profile__radio:focus + .profile__label-radio:before {
  opacity: 1; }

.programs__contacts {
  margin-bottom: 80px; }

.contacts__title {
  margin-bottom: 72px; }

.contacts__form {
  justify-content: space-between; }

.contacts__form-label {
  width: 50%; }

.contacts__form-input {
  width: 65%;
  margin-left: 20px; }

.programs__сomments {
  margin-bottom: 80px; }

.сomments__title {
  margin-bottom: 72px; }

.сomments__form-textarea {
  border: 1px solid #E6E6E6;
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
  text-transform: uppercase;
  width: 100%;
  padding: 16px 20px;
  resize: none; }

.сomments__form-textarea::placeholder {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
  text-transform: uppercase; }

.programs__extra {
  margin-bottom: 80px; }

.extra__title {
  margin-bottom: 72px; }

.extra__form {
  margin-bottom: 70px;
  justify-content: space-between; }

.extra__checkbox {
  margin-right: 20px; }

.extra__button {
  width: 46.6%; }

@media screen and (max-width: 1150px) {
  .header--index {
    padding-bottom: 400px; }
    .header--index::after {
      top: 480px;
      left: 100px; }
    .header--index::before {
      opacity: 0;
      transition: 1s ease-in; }
  .text-bold--white {
    color: #111111;
    transition: 1s ease-in; }
  .text-bold--white-active::after {
    background: #68b738;
    transition: 1.5s ease-in; }
  .programs__container {
    flex-direction: column; }
  .programs__item {
    width: initial;
    padding: 30px 30px; }
    .programs__item::after {
      background: url(../img/cat-slim-big.png) no-repeat;
      background-size: contain;
      height: 206px;
      width: 200px;
      display: block;
      position: absolute;
      top: 60px;
      left: initial;
      right: 45px; }
  .programs__pro::after {
    background: url(../img/cat-pro-big.png) no-repeat;
    height: 206px;
    width: 270px;
    position: absolute;
    right: 15px; }
  .programs__slim {
    margin-bottom: 20px; }
  .programs__subtitle {
    text-align: left;
    margin-bottom: 25px;
    margin-left: 0px; }
  .programs__text {
    width: 56%;
    margin-bottom: 60px; }
  .programs__text-bold {
    transition-delay: .5s; } }

@media screen and (max-width: 1080px) {
  .advantages__content {
    margin-right: 86px; }
  .advantages__item--1, .advantages__item--2 {
    margin-bottom: 130px; }
  .products__cards::after {
    content: "";
    flex-basis: 30%; }
  .card {
    margin-right: 0;
    flex-basis: 30%; }
  .card:nth-child(-n+6) {
    margin-bottom: 40px; } }

@media screen and (max-width: 850px) {
  .container {
    padding-left: 30px;
    padding-right: 30px; }
  .header__list {
    width: 400px; }
  .text-bold {
    font-size: 18px; }
  .header__nav {
    margin-bottom: 60px; }
  .header__container {
    padding-top: 20px; }
  .advantages__item {
    min-width: 210px; }
  .main__map-container {
    padding-left: 0;
    padding-right: 0; }
  .map__address {
    border: none;
    flex-direction: row;
    justify-content: space-between;
    position: static; }
  .products__cards::after {
    display: none; }
  .card {
    flex-basis: 47%; }
  .main__additionally {
    margin-bottom: 76px; }
  .additionally__content {
    flex-direction: column; }
  .additionally__content-left {
    margin-bottom: 70px; }
  .additionally__content-right {
    background: url(../img/additionally-cat-mobile.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 152px;
    flex-basis: initial; } }

@media screen and (max-width: 660px) {
  .subtitle {
    font-size: 24px; }
  .header__list {
    display: none; }
  .header__menu {
    display: block;
    cursor: pointer; }
  .header__menu:hover {
    opacity: 0.6;
    transition: .2s ease-in; }
  .header__menu:active, .header__menu:focus {
    opacity: 0.3;
    transition: .2s ease-in; }
  .header--index {
    padding-bottom: 0px; }
    .header--index::after {
      background-size: contain;
      width: 280px;
      height: 270px;
      margin: 0 auto;
      top: 390px;
      left: 0;
      right: 0; }
    .header--index::before {
      background: url(../img/header-background-mobile.jpg) no-repeat;
      background-size: cover;
      opacity: 1;
      width: 100%;
      height: 55%;
      top: 107px;
      left: 0;
      transition: 1s ease-in; }
  .header__content {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .header__content-title {
    color: #fff;
    text-align: center; }
  .header__content-text {
    color: #fff;
    margin-bottom: 300px; }
  .programs__item {
    padding: 36px 20px 22px 20px; }
    .programs__item::after {
      background: url(../img/cat-slim-big.png) no-repeat;
      background-size: contain;
      height: 55px;
      width: 59px;
      display: block;
      position: absolute;
      top: 28px;
      left: 26px;
      right: initial; }
  .programs__pro::after {
    background: url(../img/cat-pro-big.png) no-repeat;
    background-size: contain;
    height: 55px;
    width: 69px;
    position: absolute;
    left: 14px; }
  .programs__subtitle {
    margin-left: 78px; }
  .programs__text {
    width: 100%;
    margin-bottom: 45px; }
  .advantages__content {
    margin-right: 0px; }
  .map__address {
    padding: 30px 20px; }
  .footer__container {
    flex-direction: column; }
  .footer__logo {
    margin-bottom: 30px; }
  .footer__social {
    border-top: 2px solid #cecece;
    border-bottom: 2px solid #cecece;
    padding: 20px 0px;
    margin-bottom: 30px; }
  .footer__author-text {
    margin: 0; }
  .additionally__product {
    padding-bottom: 26px;
    flex-direction: column; }
  .additionally__info {
    width: 100%; }
  .additionally__button {
    width: 100%; }
  .additionally__content-right {
    background-size: cover; } }

@media screen and (max-width: 520px) {
  .title {
    font-size: 36px;
    line-height: 36px; }
  .button {
    width: 100%; }
  .container {
    padding-left: 20px;
    padding-right: 20px; }
  .header--index::after {
    background-size: contain;
    width: 280px;
    height: 270px;
    margin: 0 auto;
    top: 290px;
    left: 0;
    right: 0; }
  .header--index::before {
    background-position: center;
    opacity: 1;
    width: 100%;
    height: 60%;
    top: 105px;
    left: 0; }
  .header__logo {
    max-width: 50%; }
  .header__logo-image {
    margin-right: 0; }
  .header__content-title {
    margin-bottom: 30px; }
  .header__content-text {
    margin-top: 0; }
  .advantages__content {
    flex-direction: column; }
  .advantages__item:not(:last-child) {
    margin-bottom: 30px; }
  .main__map-container {
    padding-left: 0;
    padding-right: 0; }
  .map__address-right {
    margin-left: 5px; }
  .main__products {
    margin-bottom: 26px; }
  .card {
    background: transparent;
    padding: 0;
    margin: 0;
    flex-basis: 100%; }
    .card::after {
      background-repeat: no-repeat;
      width: 29%;
      height: 40%;
      margin: initial;
      top: 40px;
      left: 0; }
  .card:not(:last-child) {
    margin-bottom: 50px; }
    .card:not(:last-child)::before {
      content: "";
      background: #d7d7d7;
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0;
      bottom: -25px; }
  .card--big::after {
    width: 34%;
    height: 45%; }
  .card__title {
    text-align: left;
    margin-left: 36%;
    margin-bottom: 18px;
    width: 100px; }
  .card__info {
    margin-left: 36%; }
  .card:nth-child(-n+6) {
    margin-bottom: 40px; }
  .card__info {
    margin-bottom: 24px; }
  .card__text:not(:last-child) {
    margin-bottom: 6px; }
  .card__text::after {
    display: none; }
  .additionally__title {
    margin-bottom: 28px; }
  .additionally__content-right {
    background: url(../img/additionally-cat.png) no-repeat;
    background-size: contain;
    background-position: center;
    height: 300px; } }

@media screen and (max-width: 430px) {
  .advantages__container {
    margin-bottom: 40px; }
  .advantages__item {
    height: initial;
    margin: 0; }
    .advantages__item::after {
      width: 60px;
      height: 60px;
      top: 6px; }
    .advantages__item::before {
      display: none; }
  .advantages__title {
    margin-bottom: 40px; }
  .advantages__text {
    margin: 0;
    margin-left: 76px; }
  .map__address {
    flex-direction: column;
    justify-content: center; }
  .map__address-left {
    margin: 0 auto;
    margin-bottom: 10px; }
  .address__text br, .address__text-bold br {
    display: none; }
  .address__text, .address__text-bold {
    text-align: center; }
  .additionally__info {
    flex-direction: column; }
  .additionally__values {
    width: 100%; }
  .additionally-info__title {
    margin-bottom: 0; } }

@media screen and (max-width: 300px) {
  .container {
    padding-left: 5px;
    padding-right: 5px; } }
